<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact</h1>
    <img width="50%" height="50%" src="{{ url_for('static', filename='cat3.jpg') }}" alt="Cat">
    <p>Skontaktuj się ze mna przez numer --- --- ---</p>
    <p>Contact me at: <a href="mailto:your.email@example.com">filipPlawinski@gmail.com</a></p>
<p><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>
